/* MODAL CSS */
div.modal {
	color: #e9e9e9;
	max-width: 1200px;
	width: 100%;
	font-family: "Open-Sans", sans-serif;
    background: rgba(0,0,0,0);
    border: none !important;
	box-shadow: none;
	-webkit-box-shadow: none;
	padding: 0;
	display: inline-block;
	height: unset;
}

/* HIDE CLOSE X BUTTON */
.close-modal {
  display:none !important;
}